* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter";
  font-size: 62.5%;
}

.main-container {
  margin: 0 auto;
}

.inner-container {
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}
.main-header {
}
.text-container {
}
.input-container {
}
.checkbox-container {
}
.signin-btn {
}
.google-btn {
}
.signup-cotainer {
}
.main-footer {
  display: none;
}

.main-img {
  display: none;
}
